<%- include('../partials/header') %>

<p>Please first ensure that the seat is not in the dropdown
  <select>
    <% tickets.forEach(function(t) { %>
      <option><%= t.seat %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Airline:</label>
  <input type="text" name="airline">
  <label>Date</label>
  <input type="date">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>