<!DOCTYPE html>
<html>
  <head>
    <title>Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose Flights</h1>
    <h2>Click one of the links below to begin</h2>
    <a href="/flights/new">New Flight</a>
    <br>
    <br>
    <br>
    <a href="/flights">All Flights</a>
  </body>
</html>
